// bower:scss
// endbower
$y-orange-medium: #F4924A
$y-orange-dark: #FE7628
$y-orange-light: #F9B885
$y-blue-medium: #4B96E8
$y-blue-dark: #1067D1
$y-blue-light: #74B3FA
$y-green: #0BB34D
$y-green-dark: #023f00

body 
  background: #fafafa
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
  color: #333


body * 
  box-sizing: border-box


.browserupgrade 
  margin: 0.2em 0
  background: #ccc
  color: #000
  padding: 0.2em 0


h2 
  text-align: center


body > * 
  max-width: 700px
  margin-left: auto
  margin-right: auto


form 
  #main-query 
    width: 100%
  
  fieldset label 
    display: block
  
  fieldset fieldset 
    display: block
    float: left
    width: 50%
  
  fieldset#day-fieldset 
    background: $y-orange-dark
    color: white

  
